@model  IEnumerable<PS4Test.Controllers.HomeController.MissionData>

<div class="container">
    <h2>原始資料</h2>
    <p>姓名已經過匿名化處理 ^^</p>            
    <table class="table table-striped">
    <thead>
        <tr>
        <th>受測者</th>
        <th>模式</th>
        <th>任務一</th>
        <th>任務二</th>
        <th>任務二結束情形</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <th>@item.User</th>
                <td>@item.Mode</td>
                <td>@item.mission01Time</td>
                <td>@item.mission02Time</td>
                <td>@item.End</td>
            </tr>
        }
      
    </tbody>
    </table>
</div>